#This Apache config file was created by Duplicator Installer on 2021-06-06 16:07:25.
#The original can be found in archived file with the name .htaccess__[HASH]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /silverfoiltubes/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /silverfoiltubes/index.php [L]
</IfModule>
# END WordPress