@font-face {
  font-family: "Trueno";
  src: url("../fonts/font-trueno/TruenoUltLt.woff2") format("woff2"), url("../fonts/font-trueno/TruenoUltLt.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trueno";
  src: url("../fonts/font-trueno/TruenoLt.woff2") format("woff2"), url("../fonts/font-trueno/TruenoLt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trueno";
  src: url("../fonts/font-trueno/TruenoSBd.woff2") format("woff2"), url("../fonts/font-trueno/TruenoSBd.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
#header {
  display: flex;
  justify-content: center;
  width: 100%;
}
#header .custom-width-header {
  align-items: center;
  display: flex;
  height: 135px;
  padding: 0px;
  width: calc(100% - 100px);
}
#header .custom-width-header .container-fluid .header-logo {
  height: 100%;
  padding: 0px;
}
#header .custom-width-header .container-fluid .header-navigation {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}
#header .custom-width-header .container-fluid .header-navigation .header-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#header .custom-width-header .container-fluid .header-navigation .header-nav ul li {
  padding-left: 35px;
}
#header .custom-width-header .container-fluid .header-navigation .header-nav ul li a {
  color: #101010;
  font-family: "Trueno";
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
}
#header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-menu-item > a, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current_page_item > a, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-menu-ancestor > a, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-menu-parent > a, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-page-ancestor > a, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-menu-parent > a {
  border-top: 1.5px solid #efac17;
  color: #efac17;
}
#header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-menu-item::after, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current_page_item::after, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-menu-ancestor::after, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-menu-parent::after, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-page-ancestor::after, #header .custom-width-header .container-fluid .header-navigation .header-nav ul li.current-menu-parent::after {
  color: #101010;
}

#hp-carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}
#hp-carousel .custom-width-carousel {
  padding: 0px;
  width: calc(100% - 100px);
}
#hp-carousel .custom-width-carousel #main-carousel .carousel-inner .carousel-item {
  height: 718px;
  width: 100%;
}

#hp-products {
  display: flex;
  justify-content: center;
}
#hp-products .custom-width-products {
  display: flex;
  width: calc(100% - 100px);
}
#hp-products .custom-width-products .content {
  padding: 0px 30px;
}
#hp-products .custom-width-products .content .title p {
  color: #242424;
  font-family: "Trueno";
  font-size: 24px;
  font-weight: 300;
  margin: 0px;
}
#hp-products .custom-width-products .content .title p span {
  color: #efac17;
}
#hp-products .custom-width-products .content .description {
  margin-top: 25px;
}
#hp-products .custom-width-products .content .description p {
  color: #242424;
  font-family: "Trueno";
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  margin: 0px;
}
#hp-products .custom-width-products .content .description p span {
  color: #efac17;
  font-weight: 600;
}
#hp-products .custom-width-products .content .items {
  margin-top: 30px;
}
#hp-products .custom-width-products .content .items .item-container {
  padding: 0px 30px 30px 0px;
}
#hp-products .custom-width-products .content .items .item-container:nth-child(2n) {
  padding-right: 0px;
}
#hp-products .custom-width-products .content .items .item-container .item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 298px;
}
#hp-products .custom-width-products .content .items .item-container .item .content {
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  display: flex;
  height: 100%;
}
#hp-products .custom-width-products .content .items .item-container .item .content.active {
  background-color: transparent;
}
#hp-products .custom-width-products .content .items .item-container .item .content .item-text .item-title p {
  color: #efac17;
  font-family: "Trueno";
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  margin: 0px;
}
#hp-products .custom-width-products .content .items .item-container .item .content .item-text .item-description {
  margin-top: 25px;
}
#hp-products .custom-width-products .content .items .item-container .item .content .item-text .item-description p {
  color: #fff;
  font-family: "Trueno";
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  margin: 0px;
}

#contact-us {
  height: 327px;
  width: 100%;
}
#contact-us .container-fluid {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  height: 100%;
}
#contact-us .container-fluid .content {
  text-align: center;
}
#contact-us .container-fluid .content .title {
  color: #fff;
  font-family: "Trueno";
  font-size: 24px;
  font-weight: 300;
}
#contact-us .container-fluid .content .title span {
  color: #efac17;
}
#contact-us .container-fluid .content .address {
  margin-top: 26px;
  color: #fff;
  font-family: "Trueno";
  font-size: 14px;
  font-weight: 300;
}
#contact-us .container-fluid .content .email-address {
  margin-top: 22px;
  color: #fff;
  font-family: "Trueno";
  font-size: 14px;
  font-weight: 300;
}
#contact-us .container-fluid .content .contact-number {
  margin-top: 22px;
  color: #fff;
  font-family: "Trueno";
  font-weight: 300;
}

#footer {
  background-color: #f7f7f7;
}
#footer .custom-width-footer {
  width: calc(100% - 100px);
}
#footer .custom-width-footer .content {
  display: flex;
  justify-content: space-between;
  padding: 11px 30px;
}
#footer .custom-width-footer .content .copyright {
  color: #242424;
  font-family: "Trueno";
  font-size: 12px;
  font-weight: 200;
}
#footer .custom-width-footer .content .powered-by {
  color: #242424;
  font-family: "Trueno";
  font-size: 12px;
  font-weight: 200;
}/*# sourceMappingURL=main.css.map */