#hp-carousel{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
  .custom-width-carousel{
    padding: 0px;
    width: calc(100% - 100px);
    #main-carousel{
      .carousel-inner{
        .carousel-item{
          // img{
            height: 718px;
            width: 100%;
          // }
        }
      }
    }
  }
}